@charset "UTF-8";
@font-face {
  font-family: 'Granjon';
  src: url(GranjonLTStd-Italic.eot);
  src: local("Granjon Italic"), local("GranjonLTStd-Italic"), url(GranjonLTStd-Italic.woff2) format("woff2"), url(GranjonLTStd-Italic.woff) format("woff"), url(GranjonLTStd-Italic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Granjon';
  src: url(GranjonLTStd-Bold.eot);
  src: local("Granjon Bold"), local("GranjonLTStd-Bold"), url(GranjonLTStd-Bold.eot?#iefix) format("embedded-opentype"), url(GranjonLTStd-Bold.woff2) format("woff2"), url(GranjonLTStd-Bold.woff) format("woff"), url(GranjonLTStd-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Granjon';
  src: url(GranjonLTStd.eot);
  src: local("Granjon Roman"), local("GranjonLTStd"), url(GranjonLTStd.eot?#iefix) format("embedded-opentype"), url(GranjonLTStd.woff2) format("woff2"), url(GranjonLTStd.woff) format("woff"), url(GranjonLTStd.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Graphik';
  src: url(Graphik-Medium.eot);
  src: local("Graphik Medium"), local("Graphik-Medium"), url(Graphik-Medium.eot?#iefix) format("embedded-opentype"), url(Graphik-Medium.woff2) format("woff2"), url(Graphik-Medium.woff) format("woff"), url(Graphik-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Graphik';
  src: url(Graphik-Black.eot);
  src: local("Graphik Black"), local("Graphik-Black"), url(Graphik-Black.eot?#iefix) format("embedded-opentype"), url(Graphik-Black.woff2) format("woff2"), url(Graphik-Black.woff) format("woff"), url(Graphik-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Graphik';
  src: url(Graphik-Semibold.eot);
  src: local("Graphik Semibold"), local("Graphik-Semibold"), url(Graphik-Semibold.eot?#iefix) format("embedded-opentype"), url(Graphik-Semibold.woff2) format("woff2"), url(Graphik-Semibold.woff) format("woff"), url(Graphik-Semibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Graphik';
  src: url(Graphik-Bold.eot);
  src: local("Graphik Bold"), local("Graphik-Bold"), url(Graphik-Bold.eot?#iefix) format("embedded-opentype"), url(Graphik-Bold.woff2) format("woff2"), url(Graphik-Bold.woff) format("woff"), url(Graphik-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Graphik';
  src: url(Graphik-Regular.eot);
  src: local("Graphik Regular"), local("Graphik-Regular"), url(Graphik-Regular.eot?#iefix) format("embedded-opentype"), url(Graphik-Regular.woff2) format("woff2"), url(Graphik-Regular.woff) format("woff"), url(Graphik-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Mysl';
  src: url("Mysl W10 Italic.eot");
  src: local("Mysl Italic"), local("Mysl-Italic"), url("Mysl W10 Italic.eot?#iefix") format("embedded-opentype"), url("Mysl W10 Italic.woff2") format("woff2"), url("Mysl W10 Italic.woff") format("woff"), url("Mysl W10 Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  *::after, *::before {
    padding: 0;
    margin: 0; }

body {
  background-color: white;
  color: black;
  height: 100%;
  box-sizing: inherit;
  font-family: "Granjon"; }

::-webkit-scrollbar {
  display: none; }

html {
  height: 100%; }

button {
  background: transparent;
  border: none; }
  button:hover {
    cursor: pointer; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

span {
  display: block;
  font-size: 15px; }

.header {
  letter-spacing: 2px;
  font-family: "Granjon";
  position: fixed;
  z-index: 5;
  color: white;
  text-align: center;
  width: 100%;
  height: 100px; }
  .header path {
    fill: none;
    stroke: white; }
  .header:hover {
    color: black;
    background-color: white;
    transition: 0.4s; }
    .header:hover path {
      transition: 0.4s;
      stroke: red;
      fill: white; }
    .header:hover .header__link {
      color: black; }

.header__icon-container {
  position: absolute;
  top: 10px;
  right: 0; }

.header__icon {
  margin-right: 25px; }

.header--active {
  border-bottom: 1px solid black;
  transition: 0.4s;
  color: black;
  background-color: white; }

nav a {
  font-size: 20px;
  color: white; }

.main-image {
  transition: .4s;
  background-image: url(./static/gucciHeadPic.jpg);
  background-position-x: center;
  background-position-y: center;
  z-index: 0;
  -webkit-filter: brightness(0.88);
          filter: brightness(0.88);
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .main-image {
      height: 400px; } }

@media (max-width: 768px) {
  .header__link {
    display: none; } }

.header__link:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.4s;
  text-decoration: none; }

.header__nav {
  padding: 15px;
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
  font-size: large;
  align-items: center;
  flex-direction: row;
  text-align: center; }
  @media (max-width: 768px) {
    .header__nav {
      display: flex;
      justify-content: center;
      align-items: center; } }

.header__logo {
  align-self: flex-start;
  width: auto;
  text-align: center; }

ul {
  font-family: "Graphik";
  font-size: larger;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: auto;
  list-style-type: square; }

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }

.option-bar {
  font-family: "Graphik";
  width: 100%;
  display: flex;
  justify-content: center;
  height: 155px;
  background-color: white; }
  @media (min-width: 1120px) {
    .option-bar {
      height: 65px; } }

.option-bar__list {
  width: 80%;
  display: grid;
  align-items: center;
  -moz-column-gap: 10%;
       column-gap: 10%;
  grid-template-columns: repeat(2, 1fr); }
  @media (min-width: 1120px) {
    .option-bar__list {
      align-items: center;
      display: flex;
      gap: 0;
      justify-content: space-between; } }

.option-bar__item {
  border-bottom: 2px solid black;
  position: relative;
  font-size: 16px;
  padding: 20px 0 10px 0; }
  .option-bar__item:hover {
    cursor: pointer; }
  .option-bar__item:last-of-type {
    padding: 9px 0;
    list-style-type: none; }
  @media (min-width: 1120px) {
    .option-bar__item {
      width: 180px;
      max-width: 200px; } }

.search-input {
  align-items: center;
  display: grid;
  grid-template-columns: 20px 1fr; }

#search-input {
  margin-left: 10px;
  text-overflow: ellipsis;
  width: 90%;
  font-size: 18px;
  border: none;
  margin-bottom: -5px;
  height: 40px; }

.option-bar__btn {
  font-weight: 500;
  font-size: 20px; }

.text-container {
  width: 800px;
  margin: 40px; }

.item-container {
  text-align: center; }

.header--scroll {
  height: 70px;
  color: black;
  background-color: white;
  stroke: black;
  fill: black; }
  .header--scroll .icon {
    margin-top: 18px;
    width: 22px;
    height: 22px;
    transition: 0.4; }
  .header--scroll .header__nav {
    visibility: hidden; }
    .header--scroll .header__nav .header__logo {
      font-size: 20px;
      transition: 0.4s;
      visibility: visible;
      color: black; }

.header--scroll ~ path {
  transition: 0.4s;
  stroke: red;
  fill: white; }

.fix {
  z-index: 5;
  top: 70px;
  position: fixed; }

.aside {
  transition: 0.3s;
  position: absolute;
  background-color: white;
  z-index: 6;
  top: 100px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #1B1C21;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%); }

.aside__nav {
  padding-top: 11.5px;
  list-style-type: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }

.aside__item {
  padding: 16px;
  min-width: 100px; }
  @media (orientation: landscape) {
    .aside__item {
      padding: 16px; } }
  @media (orientation: portrait) {
    .aside__item {
      padding: 20px; } }

.aside__link {
  transition: .4s;
  width: 100%;
  color: black; }
  .aside__link:hover, .aside__link:focus {
    transform: scale(1.2); }

.aside__item--active {
  border-bottom: 1.5px solid black; }

.hide {
  overflow: hidden;
  transition: 0.3s;
  transform: translateX(0); }

.header__btn--close {
  z-index: 10;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px; }
  .header__btn--close path {
    fill: white;
    stroke: white; }
  @media (max-width: 768px) {
    .header__btn--close {
      display: initial; } }

@media (min-width: 320px) and (max-width: 768px) {
  .header__icon-container {
    top: 34px;
    right: 0; }
  .header__icon {
    margin-right: 10px; } }

.header--active .header__btn--close path {
  stroke: red;
  fill: none; }

input[type='radio'] {
  display: none; }

#gender-male:checked ~ label[for='gender-male'] {
  border-bottom: 1px solid black; }

#gender-female:checked ~ label[for='gender-female'] {
  border-bottom: 1px solid black; }

#gender-unisex:checked ~ label[for='gender-unisex'] {
  border-bottom: 1px solid black; }

#gender-all:checked ~ label[for='gender-all'] {
  border-bottom: 1px solid black; }

.option-bar__inner-radio {
  overflow-x: hidden;
  position: absolute;
  left: -60px;
  display: none;
  background-color: white;
  position: absolute;
  justify-content: center;
  width: 200px;
  z-index: 3;
  height: 120px; }

.option-bar__form--gender {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column; }

.option-bar__inner-menu {
  overflow-x: hidden;
  position: absolute;
  left: -20px;
  display: none;
  background-color: white;
  position: absolute;
  justify-content: center;
  width: 200px;
  z-index: 3;
  height: 100px; }

.option-bar__radio-item {
  margin-top: 10px; }

.option-bar__form--price {
  display: flex;
  width: 90%;
  height: 90%;
  flex-direction: column; }

.option-bar__inner-item {
  margin-top: 10px; }

#sort-to-min:checked ~ label[for='sort-to-min'] {
  border-bottom: 1px solid black; }

#sort-to-max:checked ~ label[for='sort-to-max'] {
  border-bottom: 1px solid black; }

#reset:checked ~ label[for='reset'] {
  border-bottom: 1px solid black; }

label:hover, label:focus {
  border-bottom: 1px solid black; }

.item-gender:hover .option-bar__inner-radio, .item-gender:focus .option-bar__inner-radio {
  display: flex; }

.item-price:hover .option-bar__inner-menu, .item-price:focus .option-bar__inner-menu {
  display: flex; }

.option-bar__btn {
  color: black; }
  .option-bar__btn:active {
    color: black; }

.close-cart-btn {
  color: black; }
  .close-cart-btn:active {
    color: black; }

#all:checked ~ label[for='all'] {
  border-bottom: 1px solid black; }

#discounted:checked ~ label[for='discounted'] {
  border-bottom: 1px solid black; }

.option-bar__sale-menu {
  overflow-x: hidden;
  left: -40px;
  display: none;
  background-color: white;
  position: absolute;
  justify-content: center;
  width: 130px;
  z-index: 3;
  height: 64px; }

.item-sale:hover .option-bar__sale-menu, .item-sale:focus .option-bar__sale-menu {
  display: flex;
  justify-content: center; }

.option-bar__form--sale {
  width: 90%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column; }

.option-bar__sale-item {
  margin-top: 10px; }

.footer {
  border-top: 1.5px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 90px;
  width: 100%; }

.footer__inner {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.footer__list {
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

.footer__list-title {
  position: relative;
  opacity: 0.6;
  margin-left: 6px;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 400;
  font-family: "Graphik"; }

.footer__item {
  opacity: 0.7;
  margin-left: 18px;
  margin-top: 6px;
  font-size: 12px; }
  .footer__item:hover {
    opacity: 1;
    transform: scale(1.02); }

.footer__link {
  color: black; }
  .footer__link:active, .footer__link:visited {
    color: black; }

.list-creator {
  list-style-type: none; }

.shop-item.item--hide-sale {
  display: none; }

.shop-item.item--hide-gender {
  display: none; }

.shop-item.item--hide-search {
  display: none; }

.header {
  background-color: rgba(22, 14, 8, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  color: rgba(255, 255, 255, 0.765);
  border-bottom: none;
  max-width: 100vw; }

.header__link {
  outline: none;
  border: none;
  text-decoration: none; }
  .header__link:active, .header__link:link, .header__link:visited {
    outline: none;
    border: none;
    text-decoration: none; }

html, body {
  max-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: "Granjon";
  line-height: 1;
  background-color: white; }

.header__logo {
  width: auto;
  text-align: center;
  align-self: flex-start; }

.header__nav {
  text-align: center; }
  @media (min-width: calc($tablet - 1px)) {
    .header__nav {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr; } }

.header__link {
  color: white; }

.parallax-container {
  font-family: "Graphik";
  height: 100vh; }

.parallax__slide {
  font-family: "Graphik";
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .parallax__slide:first-of-type::before {
    font-size: 2em;
    padding: 10px 0 0 10px;
    line-height: 45px;
    text-transform: uppercase;
    color: #c8ff23;
    content: "look for us in offline stores ↴";
    position: absolute;
    top: 40%;
    left: 25%;
    width: 200px;
    height: 200px;
    background-color: rgba(22, 14, 8, 0.59);
    -webkit-filter: drop-shadow(0 0 0.5px black);
            filter: drop-shadow(0 0 0.5px black); }

.parallax__caption {
  padding: 0 16px;
  gap: 16px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  font-family: "Graphik";
  background-color: #160e08;
  height: 150px;
  color: #fff; }

.parallax__slide--1 {
  background-position: top;
  background-image: url(./static/contacts-min-shop.jpg); }
  @media (min-width: 768px) {
    .parallax__slide--1 {
      background-image: url(./static/contacts-shop.jpg); } }

.parallax__slide--2 {
  background-position: top;
  background-image: url(./static/contacts-min-gold.jpg); }
  @media (min-width: 768px) {
    .parallax__slide--2 {
      background-image: url(./static/contacts-goldapple.jpg); } }

.parallax__slide--3 {
  background-position: top;
  background-image: url(./static/contacts-min-sephora.jpg); }
  @media (min-width: 768px) {
    .parallax__slide--3 {
      background-image: url(./static/contacts-sephora.jpeg); } }

.parallax__logo {
  border-radius: 10px;
  width: 120px;
  height: 120px; }

.parallax__heading {
  padding: 5px 0;
  border-bottom: 1px solid transparent;
  transition: .4s; }
  .parallax__heading .shop-link:active, .parallax__heading .shop-link:link, .parallax__heading .shop-link:visited {
    color: white; }
  .parallax__heading:hover .shop-link, .parallax__heading:focus .shop-link {
    color: white;
    border-bottom: 1px solid white; }

.parallax__heading--highlight .shop-link:active, .parallax__heading--highlight .shop-link:link, .parallax__heading--highlight .shop-link:visited {
  color: white; }

.parallax__heading--highlight:hover .shop-link, .parallax__heading--highlight:focus .shop-link {
  color: #c8ff23;
  border-bottom: 1px solid #c8ff23; }


/*# sourceMappingURL=contacts.js.map*/