a {
	text-decoration: none;
	color: black;
}

body {
   max-height: 100vh;
    font-family: $main-font;
    color: black;
}

.header--active{
    border-bottom: none;
    .header__link {
        color: black;
    }
}


.container {
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
	justify-content: center;
	width: 100%;
    height: 100%;
	display: flex;
	background-color: #ffffff;
	padding: 50px;
	padding-top:150px;
	overflow-x: hidden;
	flex-direction: column;
	position: relative;
}

.left-section {
    display: flex;
    position: relative;
	flex-direction: column;
	justify-content: center;
    z-index: 1;

    @media (min-width: $tablet) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-width: 40%;
    }

    @media (min-width:$desktop){
        justify-content: center;
        align-items: flex-start;
        width: 20%;
    }
    @media (min-width:$desktop-fix){
		justify-content: center;
		align-items: flex-start;
        width: 20%;
   }

}

.content {
	display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @media (min-width: $tablet) {
            flex-direction: row;
            justify-content: center;
    }
}

.content__title {
    font-family: $main-font;
	font-size: 40px;
	font-weight: 400;
	margin-top: 10px;
	line-height: 1em;
	transition-delay: 0.3s;

    @media (min-width:$desktop){
        font-size: 4em;
    }
    @media (min-width:$desktop-fix){
        font-size: 5em;
    }
}
.content__price {
    font-family: $strict-font;
	font-weight: 400;
	font-size: 32px;
	margin-top: 14px;
	margin-bottom: 60px;
	transition-delay: 0.4s;
    @media (min-width:$desktop){
            font-size: 4em;
    }
    @media (min-width:$desktop-fix){
        font-size: 5em;
    }
}
.content__description-list {
    display: flex;
	justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
	font-size: 18px;
	font-family: $italic-font;
	margin-bottom: 14px;
	transition-delay: 0.2s;
}
.content__list-item {
   margin-bottom: 10px;
   @media (min-width:$desktop){
        font-size: 1.5em;
    }
    @media (min-width:$desktop-fix){
        font-size: 2em;
    }
}

.image-box{

    max-width: 100%;
    height: auto;
	margin-left: 0;
    @media (max-width: $tablet) {
        margin-left: 0;
        margin-bottom: 60px;
    }
}


.right-section__item-img {
   transform: scale(1.4);
   max-width: 80%;
   height: auto;

//    @media (min-width: $tablet) {
//         // width: 400px;
//         height: auto;
//         min-width: 300px;
//     }
//     @media (min-width:$desktop) {
//         min-width: 600px;
//     }

}

.right-section {
    display: flex;
	align-items: center;
}
.button-wrapper {
	position: absolute;
	right: 30px;
	top: 50%;
	z-index: 1;
	display: flex;
	align-items: center;
    @media (max-width: $tablet) {
        position: absolute;
        right: 0px;
        top: 280px;
        z-index: 1;
        display: flex;
        align-items: center;
    }
}


.swiper-next-button {
   width: 40px;
}

.swiper-slide {
	opacity: 0;

    .right-section__item-img {
        transition-duration: 0.9s;
        transform: scale(1.3);
        opacity: 0;
    }
}
.swiper-slide-active {
	opacity: 1;

    .right-section__item-img {
        opacity: 1;
        transform: scale(1.6);
    }
}

.header--active {
    .header__icon-container {
        .header__icon path {
            stroke: red;
        }
    }
}
