.header {
    background-color: rgba(22, 14, 8, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    color: rgba(255, 255, 255, 0.765);
    border-bottom: none;
    max-width: 100vw;
}
.header__link {
    outline: none;
    border: none;
    text-decoration: none;
   &:active, &:link, &:visited {
    outline: none;
    border: none;
    text-decoration: none;
   }

}
html, body {
    max-width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
  }
body {
    font-family: $main-font;
    line-height: 1;
    background-color: rgb(255, 255, 255);
}
.header__logo {
    width: auto;
    text-align: center;
    align-self: flex-start;
}
.header__nav {

    text-align: center;
    @media(min-width: calc($tablet - 1px)) {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    }
}
.header__link {
    color: white;
}

.parallax-container {
    font-family: $strict-font;
    scroll-behavior: smooth;
    height: 100vh;
}

  .parallax__slide {
    font-family: $strict-font;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    &:first-of-type {
        &::before {
        font-size: 2em;
        padding: 10px 0 0 10px;
        line-height: 45px;
        text-transform: uppercase;
        color: rgb(200, 255, 35);
        content: "look for us in offline stores ↴";
        position: absolute;
        top: 40%;
        left: 25%;
        width: 200px;
        height: 200px;
        background-color: rgba(22, 14, 8, 0.59);
        filter: drop-shadow(0 0 0.5px black);
        }
    }
  }

  .parallax__caption {
    padding: 0 16px;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    font-family: $strict-font;
    background-color: rgb(22,14,8);
    height: 150px;
    color: #fff;
  }

  .parallax__slide--1 {
    background-position: top;
    background-image: url("./img/contacts-shop.jpg");
  }

  .parallax__slide--2 {
    background-position: top;
    background-image: url("./img/contacts-goldapple.jpg")
  }
  .parallax__slide--3 {
    background-position: top;
    background-image: url("./img/contacts-sephora.jpeg")
  }
.parallax__logo {
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.parallax__heading {
    padding: 5px 0;
    border-bottom: 1px solid transparent;
    transition: .4s;

    &:hover, &:focus {
        color: white;
        border-bottom: 1px solid white;
    }
}
.parallax__heading--highlight {
    &:hover, &:focus {
        color: rgb(200, 255, 35);
        border-bottom: 1px solid rgb(200, 255, 35);
    }
}
